.main-nav {
  background-color: @main-color-eleventh;

  &__toggle-open {
    background-color: @main-color-eleventh;
    .icon();
    .border();
    font-size: 0;
  }

  &__authorization {
    .list();
    .style();
  }
}
