.page-footer {
  .radius(30px, 30px, 0, 0);
  width: 100%;
  position: relative;
  background-color: @main-color-eleventh;

  @media @tablet-width {
    .radius(60px, 60px, 0, 0);
  }

  &--catalog {
    width: 100%;
    background-color: @main-color-seventh;
    position: static;
    border-radius: 0;
  }

  &--form {
    width: 100%;
    background-color: @main-color-fifteenth;
    position: static;
    border-radius: 0;
  }
}

.page-footer__color {
  .radius(30px, 30px, 0, 0);
  width: 100%;
  background-color: @main-color-eleventh;

  @media @tablet-width {
    .radius(60px, 60px, 0, 0);
  }
}

.page-footer__wrapper {
  .wrapper();
  width: 320px;
  padding-top: 38px;
  padding-bottom: 14px;

  @media @tablet-width {
    width: 768px;
    display: flex;
    padding-top: 48px;
    padding-bottom: 45px;
  }

  @media @desktop-width {
    width: 1440px;
  }
}

.page-footer__logo {
  display: block;
  margin-bottom: 39px;

  @media @tablet-width {
    margin-bottom: 0;
    padding-top: 6px;
    margin-right: 89px;
  }

  @media @desktop-width {
    margin-right: 370px;
  }
}

.page-footer__links {
  justify-content: center;
  margin-bottom: 49px;
  position: relative;

  @media @tablet-width {
    margin-bottom: 0;
    margin-right: 99px;
  }

  @media @desktop-width {
    margin-right: 417px;
  }

  &::after {
    display: block;
    position: absolute;
    .icon();
    width: 270px;
    height: 1px;
    opacity: 0.05;
    background-color: #000000;
    top: 82px;
    left: 0;

    @media @tablet-width {
      display: none;
    }
  }
}

.page-footer__html {
  display: flex;
  justify-content: space-between;

  @media @tablet-width {
    width: 153px;
  }
}

.page-footer__image {
  margin: 0 auto;

  @media @tablet-width {
    width: 166px;
    height: 42px;
    margin: 0;
  }

  @media @desktop-width {
    width: 200px;
    height: 52px;
  }
}
