.transport {
  .list();
  display: flex;
  flex-wrap: wrap;
}

.transport__label {
  font-size: 0;
}

.transport__input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.transport__tooltip {
  display: none;
}
